[Unit]
Description=PP Bot Discord Service
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/PP_bot
ExecStart=/home/ubuntu/PP_bot/venv/bin/python main.py
Restart=always
RestartSec=5
EnvironmentFile=/home/ubuntu/PP_bot/.env

[Install]
WantedBy=multi-user.target
